/**
 * FORMS
 * Table of contents: Navigate using $TITLE
 *
 * Globals
 *
 */

/*------------------------------------**
  $GLOBALS
**------------------------------------*/

/* Inputs */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border-bottom: solid 1px $mustard;
  background-color: $wanderWhite;
  color: $wanderBlack;
  padding: 1rem 1.5rem;
  width: 100%;
  &::placeholder {
    opacity: 1;
  }
}

.fl-wrap {
  position: relative;
}

.fl-label {
  @include transition(all);
  @include font-size(12);
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  opacity: 0;
  transform: translateY(50%);
}

.fl-is-active .fl-label {
  opacity: 1;
  transform: translateY(0);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  outline: none;
  border-bottom: 3px solid $accent;
}

/* Date input */

.date input {
  background-image: url('../images/icon--event.svg');
  background-position: 98% center;
  background-repeat: no-repeat;
}

/* Select dropdowns */

select {
  @include font-size(16);
  position: relative;
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 1rem 1.2rem;
  width: calc(100% + 50px);
  color: $text;
  background-color: transparent;
  font-family: $font;

  &:hover {
    cursor: pointer;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $text;
  }

}

.fl-wrap-select {
  background-color: $grey;
  background-image: url('../images/icon--arrow-down-black.svg');
  background-repeat: no-repeat;
  background-position: 97% center;
  overflow: hidden;

  label {
    display: none;
  }

}

select:focus {
  outline: none;
  border-bottom: 2px solid $accent;
}

/* Alternative select dropdown */

.dropdown-alt .fl-wrap-select {
  background-color: transparent;
  border: 1px solid $text-light;
  text-transform: uppercase;
}

/* Checkboxes & radios */

input[type="checkbox"],
input[type="radio"] {
  background-color: #f00;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  opacity: 0;

  + label {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: middle;
  }

  + label:before {
    position: absolute;
    top: -3px;
    left: -10px;
    height: 25px;
    width: 25px;
    content: '';
    transform: translateX(-100%);
    background-image: url('../images/icon--checkbox-unchecked.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &:hover,
  + label:hover {
    cursor: pointer;
  }

  &:focus + label:before {
    outline: 2px solid $accent;
  }

}

input[type="checkbox"] {

  &:checked + label:before {
    background-image: url('../images/icon--checkbox-checked.svg')
  }

}

input[type="radio"] {

  + label:before {
    background-image: url('../images/icon--radio-unchecked.svg')
  }

  &:checked + label:before {
    background-image: url('../images/icon--radio-checked.svg')
  }

}